.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle {
  position: fixed !important;
  transform: translateX(-20px) !important;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
.nav_active {
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px) !important;
  position: fixed !important;
}
.App {
  overflow-x: hidden;
}
